################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/5-11-25/.vs/5-11-25/FileContentIndex/b81fe45a-425f-439a-a27e-50a18124e02a.vsidx
